<header class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <!-- Left side: Logo and App Name -->
    <a class="navbar-brand" href="#">
      <img src="assets/logo.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top" />
      Todo App
    </a>

    <!-- Right side: Buttons for Navigation -->
    <div class="d-flex">
      <button class="btn btn-outline-light me-2" (click)="goToHome()">Home</button>
      <button class="btn btn-outline-light" (click)="goToTodo()">Todo</button>
    </div>
  </div>
</header>

<div class="container mt-4">
  <router-outlet></router-outlet>
</div>
